#title {
    background-color: orange;
    padding: 10px;
    font-size: 40px;
    font-weight: bolder;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Lobster', cursive;
}
#instructions {
    background-color: aqua;
    padding: 10px;
    font-size: 25px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5px;
    text-indent: 50px;
    clear: both;
}
#instructions1, #instructions5 {
    font-weight: bolder;
}
#instructions1, #instructions2, #instructions3, #instructions4, #instructions5 {
    clear: both;
}
#fight {
    display: none;
    float: right;
    margin-right: 20%;
    font-family: 'Bungee', cursive;
    font-size: 40px;
}
#replay {
    display: none;
    float: right;
    margin-right: 20%;
    font-family: 'Charmonman', cursive;
    font-size: 40px;
}
.numberBox {
    background-color: aquamarine;
    padding: 15px;
    height: 150px;
    width: 300px;
    margin-left: 20%;
    margin-top: 10px;
    display: block;
    float: left;
}
#winLossCounter {
    background-color: bisque;
    padding: 15px;
    height: 150px;
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
    display: block;
    float: left;
    margin-bottom: 10px;
}
#gems {
    clear: both;
    margin-left: 20%;
    margin-top: 10px;
}
body {
    background-image: url("../images/mine.jpg");
    background-size: cover;
    font-family: 'Gamja Flower', cursive;
    font-size: 30px;
}
#scoreTotalText {
    background-color: rgb(112, 209, 177);
    margin: 10px 20% 10px;
    padding: 15px;
    width: 300px;
}
#score {
    background-color: rgb(112, 209, 177);
    margin: 10px 20% 10px;
    padding: 15px;
    width: 300px;
    height: 150px;
}
button {
    background-color: rgb(61, 6, 71);
    padding: 15px;
    border: none;
    color: gainsboro;
    margin-left: 20%;
    margin-bottom: 10px;
    display: none;
}
#characterChoices {
    margin-left: 20%;
    width: 100%;
}
#enemies {
    width: 100%;
}
#currentFighter {
    width: 100%;
}
.characters {
    margin: auto;
    display: block;
    margin-bottom: 15px;
}
.choices {
    border: 2px solid green;
    background-color: white;
    float: left;
}
.top {
    position: relative;
    text-align: center;
    font-size: 15px;
    width: 154px;
}
.bottom{
    position: relative;
    top: 135px;
    text-align: center;
    font-size: 15px;
    width: 154px;
}
#forInstructor {
    display: block;
}
@media screen and (max-width: 600px) {
    #winLossCounter {
        margin-left: 20%;
    }
    .numberBox {
        margin-right: 20%;
        width: auto;
    }
    #scoreTotalText {
        margin-right: 20%;
        width: auto;
    }
    #score {
        margin-right: 20%;
        width: auto;
    }
    button {
        margin-right: 20%;
    }
    
}